// Progress bars
.progress {
	position: relative;
	overflow: visible;

	.progress-bar {

		span {
			position: absolute;
			top: -32px;
			right: 0;
			color: $body-color;
			font-weight: 400;
		}
	}
}